* {
  font-family: Arial, Helvetica, sans-serif
}

body {
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  background-image: url(images/lesson04-mock2-banner-image.jpg);
  background-size: cover;
  background-position: right;
  background-color: #009bbb;
  color: white;
  padding: 2rem 0rem 0rem 5rem;
}

.header-container-about {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  background-image: url(images/lesson04-mock2-banner-image.jpg);
  background-size: cover;
  background-position: right;
  background-color: #009bbb;
  color: white;
  padding: 2rem 0rem 0rem 5rem;
}

.header-link { 
  color: black;
  margin-right: 10px;
  margin-left: 10px;
}

:visited {
  color: initial;
}

.top-nav { 
  background-color: #009bbb;
  background: linear-gradient(180deg, #009bbb 55%, #000000 100%);
  margin-left: -5rem;
  padding-left: 5rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  width: 100%;
  color: black;
}

.main-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.first-sentence { 
  color: #009bbb;
}

.quote { 
  color: #009bbb;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

u {
  color: #009bbb;
  text-decoration: none;
}

.container {
  padding: 2rem 2rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  width: 60%;
  min-width: 20%;
}

.box { 
  padding: 0rem;
  width: 100%;
  min-width: 15rem;
}

.container-aside {
  padding: 1rem;
  width: 40%;
}

.box-aside {
  display: flex;
  justify-content: right;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  margin-right: 1rem;
  min-width: 10rem;
}

.cotw-photo {
  width: 80%;
  height: auto;
  box-shadow: 5px 5px 20px 0px #009bbb;
  border-radius: 5px;
}

.arrow-link { 
  color: #009bbb;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #3a3a3a;
  background-image: url(images/lesson04-mock4-footer-image.jpg);
  background-size: cover;
  color: white;
  padding: 2rem;
  width: 100%;
}

#cat-logo { 
  height: 5rem;
}

.footer-link { 
  color: white;
  margin: 10px;
}

.hidden {
  position: absolute;
  top: auto;
  left: -10000px;
}

.hidden:focus {
  left: 0;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .main-container {
    display: block;
  }
  .header-container {
    display: block;
    width: 100%;
  }
  .header-container-about {
    display: block;
    width: 100%;
  }
  #cat-logo {
    width: 50%;
    height: auto;
  }
  footer {
    width: 100%;
  }
  .top-nav {
    padding: 1rem 5rem 3rem 1rem;
  }
}